/*  Importing Inter Font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



/* __________ BODY __________ */


/*  Body on Desktop */

@media (min-width: 800px) {
    body {
        font-family: 'Inter';
        font-size: 15px;
        margin: 1vw 2vw 1vw 2vw;
    }
}

/*  Body on Mobile */

@media (max-width: 800px) {
    body {
        font-family: 'Inter';
        font-size: 12px;
        margin: 0px;
        margin-right: 0px;
        padding: 20px;
        height: 100%;
    }
}

/* Page Container / Allows me to place footer */

.pagecontainter {
    display: flex;
    flex-direction: column;
    min-height: 96vh;
}


/* __________ TOP MENU __________ */


/* Container for Top Menu */
.top {
    font-size: small;
}

.top a {
    text-decoration: none;
}

/* Top Menu on Mobile */

@media (max-width: 800px) {
    .links {}
}

/* Links on Desktop */
.links {
    float: right;
}

.links a {
    margin: 2vw;
}

.lang {
    color: #545454;
}

.lang a {
    color: #545454;
    text-decoration: none;
    border-bottom: none;
    border-bottom-color: none;
}


/* __________ LOGO + NAME + JOB __________ */


/* Layout */
.main {
    margin: 100px 60px 0px 160px;
    height: 160px;
}

@media (max-width: 800px) {
    .main {
        margin: 10px 6px 6px 16px;
        height: 160px;
    }
}

/* Icon Placeholder */
.icon {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Layout */
.me {

    margin-left: 60px;
    font-size: 18px;
    padding: 10px;

}

/* Job */
.bio {

    font-style: normal;
    color: #868686;
    font-weight: 300;
}

/* Name */

.name {
    font-style: medium;
    font-weight: 400;
}


/* __________ PRESENTATION __________ */


/* Layout */

.main2 {
    margin: 0px 60px 0px 160px;
}

@media (max-width: 800px) {
    .main2 {
        margin: 0px 0px 0px 0px;
    }
}

/* What I do */
.descwrap {
    display: flex;
    margin-top: -30px;
    margin-left: 70px;
}

/* What I do Desktop */
@media (max-width: 1100px) {
    .descwrap {
        display: block;
        margin-left: 0px;
        margin-top: 0px;
        font-size: 20px;
        padding-inline: 26px;
        margin-right: 10px;
        /*justify-content: center;*/
    }

    .suitedesc {
        margin-left: 0px;
        margin-top: 6px;
    }
}

.desc {
    font-size: 18px;
    font-weight: 400;
    /*    display: flex;*/
    line-height: 1em;
}

/* Animated text */
.suitedesc {
    margin-left: 8px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    line-height: 1em;
}

@media (max-width: 800px) {
    .desc {
        margin-left: 0px;
        margin-top: 0px;
        font-size: 20px;
        display: flex;
        line-height: normal;
        /*justify-content: center;*/
    }

    .suitedesc {
        margin-left: 0px;
        margin-top: 4px;
        font-size: 20px;
    }
}




/* __________ VENTURES + WRITINGS __________ */


.list {
    width: 300px;
    /*background-color: #868686;*/
    margin-inline-end: 50px;
}

@media (max-width: 800px) {
    .list {
        width: 99%;
        margin-inline-end: 0px;
        padding-top: 30px;
    }
}

.second {
    margin-top: 90px;
    display: inline-flex;
    justify-content: space-between;
    font-size: 14px;
    margin-left: 70px;
}

@media (max-width: 800px) {
    .second {
        margin-top: 30px;
        display: block;
        width: 99%;
        padding-left: 6vw;
        margin-left: 0px;
    }
}

.title {

    font-style: normal;
    color: #868686;
    font-weight: 300;
}

.title2 {
    margin-top: 1vw;
    margin-bottom: 6px;
}

.minidesc {
    max-width: 210px;
}

@media (max-width: 800px) {
    .minidesc {
        max-width: 100%;
    }
}


/* __________ FOOTER __________ */


.footer {
    margin-top: auto;
    font-size: small;
}

.footer a {
    color: #545454;
    text-decoration: none;
    border-bottom: 1.5px solid #00000030;
    border-bottom-color: rgba(0, 0, 0, 0.19);
}

.footer2 {
    float: right;
}


/* __________ LINK STYLE __________ */


a {
    color: #545454;
    text-decoration-skip-ink: none;
    text-decoration: none;
    border-bottom: 1.5px solid #00000030;
    border-bottom-color: rgba(0, 0, 0, 0.19);
}

a:focus {
    outline: 0px dashed #0004b3;
}

a:hover {
    border-color: black;
}

a {
    color: #545454;
}


/* __________ TEXT ANIMATION __________ */



#counter {
    height: 1em;
    overflow: hidden;
}

.digits {
    float: left;
    /*  list-style-type: none; */
    font-size: 1em;
    /*line-height: 1em;*/
}

.digits-first {
    margin-top: -4em;
    /* number 4! */
}

.digits-second {
    margin-top: 0em;
    /* number 0! */
}

.digits-third {
    margin-top: 0em;
    /* number 4! */
}

.digits {
    animation-duration: 4s;
    animation-timing-function: ease;
    /*   animation-delay: 2.2s;*/
    animation-fill-mode: forwards;
    padding-inline: 6px;
    /*    animation-iteration-count: 5;*/
}

.luckie {
    animation-name: luckie;
}

/* Animations */
@keyframes luckie {
    100% {
        margin-top: -6em;
    }
}